
<style>
    #container, #editor, #tinymce, .mce-content-body {
        padding: 1rem 7rem !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        padding: 0 !important;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .selectable-image {
        cursor: pointer;
    }

        .selectable-image.selected {
            border: 3px solid blue;
        }

</style>
<div class="container mb-3">
    <div class="card ">
        <div class="card-header">
            <span>
                Add Blogs
            </span>
        </div>
        <div class="card-body p-3">
            <form id="blog_form">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="txtTitle" class="form-label">Title</label>
                            <input type="text" class="form-control" id="txtTitle" aria-describedby="title">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="txtSlug" class="form-label">slug</label>
                            <input type="text" class="form-control" id="txtSlug" aria-describedby="alt">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label"> Category</label>
                            <select class="form-select" aria-label="Default select example" id="drpCategory">
                                <option selected>Open this select menu</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-control-label">Tag</label>
                        <div class="form-select2">
                            <select class="form-select" aria-label="Default select example" id="drpTag">
                                <option selected disabled>Open this select menu</option>

                            </select>
                        </div>

                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="txtAuthor" class="form-label">Author</label>
                        <input type="text" class="form-control" id="txtAuthor" aria-describedby="author">
                    </div>
                </div>
                <div class="col-lg-4">
                    @*   <div class="mb-3">
                    <label for="txtDescription" class="form-label">Featured Image</label>
                    <input type="file" class="form-control" id="txtFeaturedImage" aria-describedby="category">
                    </div> *@
                    <label for="basic-url" class="form-label">Featured Image</label>
                    <div class="input-group mb-3" id="imageGroup">
                        <span class="input-group-text" id="basic-addon3">Choose a File</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon3" id="txtFeaturedImage">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="divFeaturedImage"></div>
                </div>
            </div>
            <hr />
            <h5 style="background-color:antiquewhite;padding:0.5rem;">Seo Related Data</h5>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="txtTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="txtTitle" aria-describedby="title">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="txtKey" class="form-label">Key Word</label>
                        <input type="text" class="form-control" id="txtKey" aria-describedby="Key">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="txtDescription" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="txtDescription" aria-describedby="alt"></textarea>
                    </div>
                </div>


                </div>
                <div id="imagePreview">
                </div>
            </form>


        </div>

    </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="featuredImageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Select Featured Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Display available images here -->
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://www.bailinson-oleary.com/wp-content/uploads/2019/08/Child-Support.jpg" alt="Image 1" class="img-thumbnail selectable-image">
                    </div>
                    <div class="col-md-4">
                        <img src="https://s4.scoopwhoop.com/anj/m/8bb7adae-efa9-4bb9-8886-2cf45ed1140d.jpg" alt="Image 2" class="img-thumbnail selectable-image">
                    </div>
                    <div class="col-md-4">
                        <img src="https://www.bailinson-oleary.com/wp-content/uploads/2019/08/Child-Support.jpg" alt="Image 2" class="img-thumbnail selectable-image">
                    </div>
                    <!-- Add more images as needed -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="selectImageBtn" class="btn btn-primary">Select Image</button>
            </div>
        </div>
    </div>
</div>

<!-- TinyMCE Editor -->
<textarea id="editor" class="mt-4">

    </textarea>
<div class="d-flex justify-content-center m-4">
    <button id="print-html" class="btn btn-primary" style="margin-right:10px">Preview Blog</button>
    <button type="submit" class="btn btn-primary" onclick="addUpdateBlogs()">Submit</button>

</div>


<div id="container"></div>

@section Scripts {

    <script src="~/js/addblogs.js" asp-append-version="true"></script>
}