<style>
    input:focus {
        border-color: #c9356e !important;
    }
</style>
<div class="container p-2">
    <div class="card ">
        <div class="card-header">
            <span>
                Add Tag
            </span>
        </div>
        <div class="card-body p-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="txtTag" class="form-label">Tag Name</label>
                        <input type="text" class="form-control" id="txtTag" aria-describedby="tag">
                        <div id="emailHelp" class="form-text">The name is how it appears on your site.</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="txtSlug" class="form-label">Slug</label>
                        <input type="text" class="form-control" id="txtSlug" aria-describedby="slug">
                        <div id="emailHelp" class="form-text">The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="txtDescription" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="txtDescription" aria-describedby="txtDescription" rows="3"></textarea>
                        <div id="emailHelp" class="form-text">The description is not prominent by default; however, some themes may show it.</div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="addUpdateTag()">Submit</button>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/addtag.js" asp-append-version="true"></script>

}