<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>View Tag</span>
        <a href="/Home/AddTags" class="btn btn-primary">
            <i class="fas fa-plus mt-1"></i>
            Add Tags
        </a>
    </div>

    <div class="card-body p-4">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Tag Name</th>
                    <th>Slug</th>
                    <th>Description</th>

                </tr>
            </thead>

            <tbody>
               
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/viewcategories.js" asp-append-version="true"></script>
}