<style>
    /* Table styling */
    #tbl-category {
        width: 100%;
        border-collapse: collapse;
    }

        #tbl-category th, #tbl-category td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #tbl-category th {
            background-color: #f8f9fa;
            color: #333;
        }

        #tbl-category tbody tr:hover {
            background-color: #f1f1f1;
        }

    /* Action button styling */
    .fa-trash {
        color: red;
        cursor: pointer;
    }

    .fa-edit {
        color: green;
        margin-right: 5px;
        cursor: pointer;
    }

    /* Header styling */
   
</style>


<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>View Category</span>
        <a href="/Home/AddCategory" class="btn btn-primary">
            <i class="fas fa-plus mt-1"></i>
            Add Category
        </a>
    </div>

    <div class="card-body p-4">
        <table id="tbl-category" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Slug</th>
                    <th>Parent Category</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
             
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/viewcategories.js" asp-append-version="true"></script>
}